<footer class="footer max-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <address>
          Diapason Produções Audiovisuais LTDA
          </br>CNPJ: 27.024.252/0001-07
          </br>Avenida Treze, 433, Centro, Rio Claro – SP
          </br>CEP: 13500-340
        </address>
      </div>

      <div class="col-sm-6">
        <div class="social">
          {% for social in site.social %}
            <a href="{{ social.url }}" target='_blank' alt='{{ social.title }}'>
              <i class="fa {{ social.icon}}"></i>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
