---
layout: none
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <link href="{{ "/assets/vendors/stylesheets/video.css" | relative_url }}" rel="stylesheet">
  <!-- IE8 -->
  <script src="{{ "/assets/vendors/javascripts/videojs-ie8.min.js" | relative_url }}"></script>

  <body>
<!--     <div class="modal" id="modal">
      <div class="modal-dialog video-modal-dialog">
        <div class="modal-content video-modal-content">
          <iframe id="video" src="https://www.youtube.com/embed/RLc7kIRHipA" data-video="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div> -->
    <div class="video-wrapper">
      <video id="my-video" class="video-js" data-setup="{}" webkit-playsinline autoplay preload loop
      poster="">
        <source src="{{ "/assets/images/video-loop-small.mp4" | relative_url }}" type='video/mp4'>
      </video>
      <div class="video-container">
        {% include header.html %}
        <div class="container">
          <h2>
            ESPECIAL E ÚNICO
          </h2 class="margin-top-6">
          <p>
            música | filmes | eventos
          </p>
        </div>
      </div>
    </div>

    <div class="call">
      <div class="container">
        Transformando sonhos em áudio, filmes e fotografias desde 2012, a Diapason sabe que som e imagem são meios muito poderosos de comunicação. Nossos clientes contam com equipe e estúdios atualizados, versáteis e altamente qualificados em equipamentos e estrutura. Mais que isto, profissionais com conhecimento e experiência para fazer o melhor uso desta tecnologia e traduzir suas emoções em produções audiovisuais especiais e únicas, levando sua história para ser sentida na pele.

      </div>
    </div>

    <div class="categories container-fluid">
      <div class="row">
        <div class="col-sm-4 category-background">
          <div class="category-item">
            <div class="info-category">Diapason</div>
            <a href="#">MÚSICAS</a>
            <div class="info-category">Para artistas</div>
          </div>
        </div>

        <div class="col-sm-4 category-background green">
          <div class="category-item">
            <div class="info-category">Diapason</div>
            <a href="#">FILMES</a>
            <div class="info-category">Para empresas</div>
          </div>
        </div>

        <div class="col-sm-4 category-background blue">
          <div class="category-item">
            <div class="info-category">Diapason</div>
            <a href="#">EVENTOS</a>
            <div class="info-category">Para você</div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/assets/vendors/javascripts/jquery-2.2.4.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/vendors/javascripts/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/vendors/javascripts/video.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascripts/video-modal.js" | relative_url }}"></script>
  </body>

</html>
