footer {
  min-height: 240px;
  opacity: 0.85;
  background-image: radial-gradient(circle at 50% 0, $black-four, $black);

  address {
    margin-top: 86px;
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.7px;
    color: $white;
  }

  .social {
    margin-top: 100px;
    text-align: right;

    .fa {
      font-size: 40px;
      margin-left: 20px;
    }

    a {
      opacity: 0.5;
      color: $white;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
